@charset "utf-8";

@import '../node_modules/bulma/bulma.sass';

.dropdown-container {
  position: relative;
  max-width: 160px;
}

.option-list {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-x: wrap;
  overflow-y: scroll;
  z-index: 1;
  padding: 10px;

  & > * + * {
    margin-top: 10px;

    label {
      display: block;
    }
  }
}
